.App {
  text-align: center;
  /* background-color: blue; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title{
  text-align: center;
}
input{
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 80%;
}
button{
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.container{
  background-color: #282c34;
  padding: 25px;
  border-radius: 15px;
  gap: 25px;
  padding-bottom: 10px;
}
.input-type{
  display: flex;
  gap: 25px;
  margin: 15px;
}
.len{
  display: flex;
  gap: 10px;
}
.rangebar{
  position: relative;
  top: -5px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
